/vendor/
/node_modules/
/.env
/.env.*
/storage/*.key
/storage/app/backups/
/storage/app/factory/
/storage/app/commercial/
/storage/logs/*
/bootstrap/cache/*.php
*.zip
error_log
.DS_Store
/public/storage
/storage/framework/
